@import "../../../../../variables.scss";
.message-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.message-history__scroll-button {
  background-color: $color-interfaceBackground;
  border-radius: $interfaceBorderRadius;
  border: $border-interfaceBorder;
  position: absolute;
  bottom: 5px;
  right: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transition: width 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
  z-index: 3;
  .message-history__scroll-button-text {
    width: 0px;
    transition: width 0.2s ease, opacity 0.2s ease;
  }
  .message-history__scroll-button-icon {
    width: 20px;
    height: 20px;
  }
}
.message-history__scroll-button.message-history__scroll-button_unread-message {
  .message-history__scroll-button-text {
    width: 15px;
    opacity: 1;
  }
}
@media (hover: hover) {
  .message-history__scroll-button:hover {
    background-color: $color-interfaceBackgroundHovered;
  }
}
.message-history__header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 0 5px;
  border-bottom: $border-interfaceBorder;
}
.message-history__close-button {
  width: 30px;
  height: 30px;
  border-radius: $interfaceBorderRadius;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  img {
    width: 75%;
  }
}
@media (hover: hover) {
  .message-history__close-button:hover {
    background-color: $color-interfaceBackgroundHovered;
  }
}

.message-history__list {
  width: calc(100% - 5px);
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  align-self: flex-start;
  position: relative;
  .message-history__new-messages-line {
    border-bottom: $border-interfaceBorder;
    text-align: center;
    font-size: 0.8em;
    opacity: 0.7;
  }
}
.message-history__list::-webkit-scrollbar {
  width: 5px;
}
.message-history__list::-webkit-scrollbar {
  background-color: $color-interfaceBackgroundHovered;
  border-radius: $interfaceBorderRadius;
}
.message-history__list::-webkit-scrollbar-thumb {
  background-color: $color-interfaceBorder;
  width: 10px;
  height: 20px;
  border-radius: $interfaceBorderRadius;
}
