@import "../../variables.scss";
.modal-window {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;
  transition: opacity 0.2s ease;
  z-index: 5;
  background-color: rgba($color-headerBackground, 0.6);
  .modal-window__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 150px;
    border: $border-interfaceBorder;
    border-radius: $interfaceBorderRadius;
    background-color: $color-interfaceBackground;
    padding: 10px;
    .modal-window__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .modal-window__button {
        width: 50px;
        padding: 5px;
        border: $border-interfaceBorder;
        border-radius: $interfaceBorderRadius;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }
    }
  }
}
.modal-window.modal-window_hidden {
  opacity: 0;
}
@media (hover: hover) {
  .modal-window__button:hover {
    background-color: $color-interfaceBackgroundHovered;
  }
}
