@import "../../../../../variables.scss";
.user {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  gap: 5px;
  cursor: pointer;
  .user__status {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: rgba($color-interfaceBorder, 0.7);
    transition: opacity 0.2s ease;
    opacity: 0;
  }
  .user__status.user__status_online {
    opacity: 1;
  }
}
.user_selected {
  text-decoration: underline;
}
