@import "../variables.scss";
@keyframes loading-stick {
  12% {
    scale: 1.1;
  }
  25% {
    scale: 1;
  }
}
@keyframes loading-stick_visible {
  12% {
    background-color: $color-headerBackground;
  }
  25% {
    background-color: transparent;
  }
}
$animatio-duration: 0.8s;
.loading-window {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-headerBackground, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 10;
}
.loading-window.visible {
  visibility: visible;
  opacity: 1;
}

.loading-window__content {
  padding: 10px;
  background-color: white;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: $border-interfaceBorder;
  border-radius: $interfaceBorderRadius;
  background-color: $color-interfaceBackground;
  position: relative;
  .loading-window__close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: opacity 0.2s ease;
    cursor: pointer;
    .close-button__stick {
      width: 80%;
      height: 3px;
      background-color: $color-interfaceBorder;
      border-radius: calc($interfaceBorderRadius);
      position: absolute;
      top: 50%;
      left: 50%;
    }
    .close-button__stick:nth-child(1) {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .close-button__stick:nth-child(2) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  .loading-window__close-button:hover {
    opacity: 0.8;
  }
  .loading-window__message {
    margin-bottom: 30px;
  }
  .loading-window__loading-bar {
    width: 150px;
    height: 150px;
    position: relative;
    .loading-bar__stick {
      width: 100%;
      height: 10px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      animation: $animatio-duration loading-stick ease infinite;
      .loading-bar__stick-visible {
        border: $border-interfaceBorder;
        border-radius: $interfaceBorderRadius;
        width: 25%;
        height: 100%;
        position: absolute;
        left: 0;
        transform-origin: center;
        animation: $animatio-duration loading-stick_visible ease infinite;
      }
    }
    .loading-bar__stick:nth-child(2) {
      rotate: 30deg;
      animation-delay: calc($animatio-duration * (1 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (1 / 12));
      }
    }
    .loading-bar__stick:nth-child(3) {
      rotate: 60deg;
      animation-delay: calc($animatio-duration * (2 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (2 / 12));
      }
    }
    .loading-bar__stick:nth-child(4) {
      rotate: 90deg;
      animation-delay: calc($animatio-duration * (3 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (3 / 12));
      }
    }
    .loading-bar__stick:nth-child(5) {
      rotate: 120deg;
      animation-delay: calc($animatio-duration * (4 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (4 / 12));
      }
    }
    .loading-bar__stick:nth-child(6) {
      rotate: 150deg;
      animation-delay: calc($animatio-duration * (5 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (5 / 12));
      }
    }
    .loading-bar__stick:nth-child(7) {
      rotate: 180deg;
      animation-delay: calc($animatio-duration * (6 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (6 / 12));
      }
    }
    .loading-bar__stick:nth-child(8) {
      rotate: 210deg;
      animation-delay: calc($animatio-duration * (7 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (7 / 12));
      }
    }
    .loading-bar__stick:nth-child(9) {
      rotate: 240deg;
      animation-delay: calc($animatio-duration * (8 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (8 / 12));
      }
    }
    .loading-bar__stick:nth-child(10) {
      rotate: 270deg;
      animation-delay: calc($animatio-duration * (9 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (9 / 12));
      }
    }
    .loading-bar__stick:nth-child(11) {
      rotate: 300deg;
      animation-delay: calc($animatio-duration * (10 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (11 / 12));
      }
    }
    .loading-bar__stick:nth-child(12) {
      rotate: 330deg;
      animation-delay: calc($animatio-duration * (11 / 12));
      .loading-bar__stick-visible {
        animation-delay: calc($animatio-duration * (11 / 12));
      }
    }
  }
  .loading-window__error-icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    width: 85px;
    height: 85px;
  }
}

.loading-window.loading-stoped {
  .loading-window__error-icon {
    opacity: 1;
    visibility: visible;
  }
  .loading-window__loading-bar {
    display: none;
  }
}
