@import "../../../variables.scss";
.login-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-interfaceBackground;
}
.login-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.form__inputs-frame {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
