@import "../../variables.scss";
.header {
  display: flex;
  align-items: center;
  background-color: $color-background;
  border-bottom: $border-interfaceBorder;
  position: relative;
}
.navigation {
  display: flex;
  height: 35px;
  border-left: $border-interfaceBorder;
}
.nav-button {
  text-align: center;
  padding: 5px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.nav-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $color-interfaceBorderIntence;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.nav-button.nav-button_disabled {
  cursor: auto;
}
.nav-button_disabled {
  opacity: 0.4;
}
.nav-button.nav-button_selected::after {
  opacity: 1;
}
@media (hover: hover) {
  .nav-button:hover {
    background-color: $color-backgroundHovered;
  }
  .nav-button.nav-button_disabled:hover {
    background-color: transparent;
  }
}
@media (hover: none) {
  .nav-button:active {
    background-color: $color-backgroundHovered;
  }
  .nav-button.nav-button_disabled:hover {
    background-color: transparent;
  }
}
.user-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 25%;
  transition: opacity 0.2s ease, width 0.2s ease;
  overflow: hidden;
  .user-panel__login-container {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    padding: 5px;
    .user-panel__login {
      text-decoration: underline;
    }
    .user-panel__icon {
      height: 100%;
      width: 20px;
    }
  }
  .user-panel__logaut-button {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    .logaut-button__icon {
      height: 100%;
      width: 20px;
    }
  }
}
.user-panel.user-panel__closed {
  width: 0;
  opacity: 0;
}
