@import "./variables.scss";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hidden {
  @include hidden;
}
body {
  font-size: 1.2em;
  color: $color-text;
  background-color: $color-body;
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  max-width: 1440px;
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
  border: $border-interfaceBorder;
}
.button {
  border: $border-interfaceBorder;
  border-radius: $interfaceBorderRadius;
  text-align: center;
  padding: 5px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  user-select: none;
}
.button.button_disabled {
  cursor: auto;
}
.button_disabled {
  opacity: 0.4;
}
.button.button_selected {
  border: $border-interfaceBorderFocus;
  color: $color-interfaceBorderIntence;
}
@media (hover: hover) {
  .button:hover {
    background-color: $color-interfaceBackgroundHovered;
  }
  .button.button_disabled:hover {
    background-color: transparent;
  }
}
@media (hover: none) {
  .button:active {
    background-color: $color-interfaceBackgroundHovered;
  }
  .button.button_disabled:hover {
    background-color: transparent;
  }
}
@media (max-width: 1000px) {
  body {
    font-size: 1.1em;
  }
}
