// colors
$color-interfaceBackground: rgb(33, 38, 41);
$color-interfaceBackgroundHovered: rgb(47, 54, 58);

$color-background: rgb(39, 63, 67);
$color-interfaceBorder: rgb(119, 163, 169);
$color-text: rgb(255, 255, 255);

// border
$border-interfaceBorder: $color-interfaceBorder 1px solid;

// shapes
$interfaceBorderRadius: 5px;
