// colors
$color-interfaceBackground: rgb(33, 38, 41);
$color-interfaceBackgroundHovered: rgb(47, 54, 58);

$color-background: rgb(39, 63, 67);
$color-interfaceBorder: rgb(119, 163, 169);
$color-interfaceBorderIntence: rgb(152, 202, 209);
$color-text: rgb(236, 236, 236);

// border
$border-interfaceBorder: $color-interfaceBorder 1px solid;
$border-interfaceBorderFocus: $color-interfaceBorderIntence 2px solid;

// shapes
$interfaceBorderRadius: 5px;

@mixin hidden {
  visibility: hidden;
  opacity: 0;
}